h2 {
    padding-left: 19vh;
    padding-bottom: 10px;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 50px;
    margin: 40px auto;
    padding: 0 19vh;
    
  }
  

  .grid-item {
    width: 200px;
    height: 300px;              /* Фиксированная высота карточки */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;             /* Добавим flex, чтобы разместить контент вертикально */
    flex-direction: column;
    justify-content: flex-start;  /* Картинка и текст идут сверху */
    align-items: center;       /* Центрируем по горизонтали */
    border: 1px solid black;
}

  .grid-item:hover {
    transform: scale(1.05);
  }
  
  /* Блок для изображения */
.image-container {
    width: 100%;
    height: 150px;       /* Фиксируем высоту под картинку */
    overflow: hidden;    /* Чтобы изображение не вылезало за границы */
    border-radius: 5px 5px 0 0; /* Скруглим верхние углы, если нужно */
    margin-bottom: 10px;
  }

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Обрезает картинку, сохраняя пропорции */
    display: block;
  }
  
.grid-item img {
    width: 100%; /* Адаптивная ширина */
    height: auto; /* Сохраняем пропорции */
    border-radius: 5px; /* Скругленные углы изображения */
    margin-bottom: 15px; /* Отступ под изображением */
}

.info {
    padding-top: 10px;
    background-color: #f9f9f9; /* Белый фон карточки */
}

.info p {
    margin: 5px 0; /* Отступы между текстовыми строками */
    font-size: 14px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    background-color: #f9f9f9; /* Белый фон карточки */
}
.info p strong {
    background-color: #f9f9f9; /* Белый фон карточки */
    font-weight: lighter;
    font-size: medium;
}

.view-all-button {
    margin: 50px auto; /* Центрирование кнопки */
    display: block;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.view-all-button:hover {
    background-color: #333;
}
