.artists-section {
    text-align: center;
    padding: 40px 19vh;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    
}
.artist-grid {
    display: flex;
    justify-content: center;
    gap: 16vh; 
    flex-wrap: wrap;
    margin-bottom: 30px;
	width: 100%;
    align-items: center;
    
}

.artist-card {
    width: 330px;
    height: 360px; 
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    overflow: hidden;
    background-color: #d3d3d3;
    border-radius: 0px 0px 8px 8px;
    font-weight: 500;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.artist-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-name {
    font-size: 17px;
    margin-top: 10px;
    text-align: start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.arrow {
    font-size: 1.2rem;
    color: #333;
}

.view-all-button {
    margin: 50px auto;
    display: block;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
	
}

.view-all-button:hover {
    background-color: #003366;
} 