/* ================================= Artists Section ================================= */
.artists-section {
  text-align: center;
  padding: 60px 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
}

.artists-section .artists-section-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  color: #333;
  position: relative;
  display: inline-block;
  text-align: center; /* Центрируем текст */
}

.artists-section .artists-section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%; /* Центрируем линию относительно заголовка */
  transform: translateX(-50%); /* Сдвигаем линию влево на 50% её ширины */
  width: 60px;
  height: 3px;
  background-color: #003366;
}

.artists-section .artists-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 50px;
  width: 100%;
}

.artists-section .artists-card {
  width: 280px;
  height: 280px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artists-section .artists-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.artists-section .artists-image-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.artists-section .artists-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.artists-section .artists-card:hover .artists-photo {
  transform: scale(1.08);
}

.artists-section .artists-name {
  font-size: 1.1rem;
  color: #333;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}

.artists-section .arrow {
  font-size: 1.2rem;
  color: #003366;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.artists-section .artists-card:hover .arrow {
  transform: translateX(5px);
}
